<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <servlet-class>Controler.Cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controler.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginF</servlet-name>
        <servlet-class>Controler.LoginF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controler.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Postagem</servlet-name>
        <servlet-class>Controler.Postagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedServlet</servlet-name>
        <servlet-class>Controler.FeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEmpresa</servlet-name>
        <servlet-class>Controler.CadastroEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vaga</servlet-name>
        <servlet-class>Controler.Vaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServelet</servlet-name>
        <servlet-class>Controler.UserServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletar</servlet-name>
        <servlet-class>Controler.Deletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>Controler.Pesquisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuariosServlet</servlet-name>
        <servlet-class>Controler.ListarUsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/Controler/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Controler/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginF</servlet-name>
        <url-pattern>/Controler/LoginF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Controler/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Postagem</servlet-name>
        <url-pattern>/Controler/Postagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedServlet</servlet-name>
        <url-pattern>/FeedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEmpresa</servlet-name>
        <url-pattern>/Controler/CadastroEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vaga</servlet-name>
        <url-pattern>/Vaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServelet</servlet-name>
        <url-pattern>/UserServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletar</servlet-name>
        <url-pattern>/Controler/Deletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuariosServlet</servlet-name>
        <url-pattern>/ListarUsuariosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
