/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 de mar. de 2025, 14:18:45
    Author     : Direitor
*/

:root{
    --corcorpo:(#ffffff);
    --corbotao:(#0A66C2);
}





form{
   
   background: var(--corcorpo);
   margin: 40px auto 0 auto;
   width: 350px;
   height: 500px;
   border-radius: 5px;
   box-shadow: 3px 3px 3px 3px #999999;
   border: none;
   
}
h1{
    padding-top: 12px;
}

.google>a,.apple>a{
    color: black;
    font-size: 20px;
}

.google:hover>a,.apple:hover>a{
  color: #0A66C2;
  text-decoration: underline;
}
a{
   text-decoration: none;
   color: #0A66C2;
}

a:hover{
    text-decoration: underline;
}
.m{
    margin-bottom: 50px;
}

.google,.apple{
    padding: 1px 0 15px 0;
   text-align: center;
    border-radius: 30px;
    border-style: solid ;
    border-color: #000000;
}

.linha-ou{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.linha-ou hr{
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    margin: 10px;
}

.linha-ou span{
    padding: 0 10px;
    font-weight: bold;
}

input[type="text"],input[type="password"]{
    
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    width: 100%;
}

input[type="submit"]{
    background: #0A66C2;
    margin: 4px 15px 5px 15px;
    display: block;
    width: 90%;
     padding: 15px 0 15px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.global{
    padding-left: 20px;
    padding-right:20px;
    
   
    
}

.te{
    text-align: center;
}

footer{
    display: inline-flex;
    margin-top: 30px;
    list-style: none;
}
li{
    padding-left: 20px;
}

select{
    margin-left: 5px;
}

p{
    margin-top: 20px;
}